.App {
    background: #000000a1;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: block;
    z-index: 500;
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: block;
    z-index: 500;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: block;
    z-index: 500;
}

#cover h2 span {
    color: #0cb3df;
}

#cover img {
    margin-top: 75%;
    width: 100px;
    animation: animage 1.6s linear infinite;
}
@keyframes animage {
    from {
        width: 90px;
        opacity: 0.8;
    }
    to {
        width: 70px;
        opacity: 0.2;
    }
}
#cover h2 {
    color: white;
}

/*navbar styling starts*/
.Navbar {
    background-color: #000000a1;
    height: 5%;
    border-bottom: 3px solid black;
    top: 0;
}
/*navbar styling ends*/

/*Editor styling starts*/
.Editor {
    height: 85%;
    background-color: #000000a1;
    display: flex;
}

.line-numbers {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    line-height: 1.5em;
    font-size: 14px;
    text-align: center; /* Center the text horizontally */
    color: #888;
    user-select: none;
    border-right: 1px solid #ddd;
    width: 40px; /* Set a fixed width to prevent expansion */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align to the top */
    overflow-y: auto; /* Enable scrolling */
    white-space: nowrap; /* Prevent the numbers from wrapping */
}

.Editor textarea {
    width: 100%;
    border: none;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f9f9f9;
    font-family: monospace;
    margin: 0;
    padding: 10px;
    resize: none;
    outline: none;
    font-size: 14px;
    line-height: 1.5em;
}

.Editor textarea::selection {
    background-color: #ffffcc;
    color: black;
}
/*Editor styling ends*/

/*Footer styling */
.Footer {
    background-color: #000000a1;
    height: 5vh;
    border-top: 3px solid black;
    overflow-y: none;
}
/*Footer styling */
